################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/wa/bin
/wa/obj
/wa/.vs/wa
