################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/signalRServer/.vs/signalRServer/v16
/signalRServer/obj
